//- レイアウト組用テンプレート

doctype html

include _dammy_images
include _mixins

block vars
- var page = site.pages[pageid]

html(lang='ja')
  head
    meta(charset = 'utf-8')
    meta(http-equiv = 'X-UA-Compatible', content = 'IE = edge, chrome = 1')
    meta(name = 'viewport', content = 'width = device-width, initial-scale = 1')
    +metabase
    +metaog
    title= page.title
    +csss(site.common_css.concat(page.css))
    +scripts(site.common_script.concat(page.script))
  body
    .container
      include _header
      main.main( id = pageid )
        block contents
      include _footer