//- ナビゲーションテンプレート
nav.nav
  ul.nav-list
    each val, key in site.pages
      - if( key === pageid )
        li.nav-list-item.current
          span !{val.title}
      - else
        li.nav-list-item
          a(href = key + '.html') !{val.title}