@import 'nib'

/* index */
.section
  .body
    .modulelist
      border-collapse separate
      border-spacing 2px
      th, td
        background-color #ccc
        padding 4px
        color #444
      .listtitle
        background-color transparent
        text-align center
        color #fff
        font-weight 600
