@import "_variable"
/**
 * ソースのハイライト用
 */
.code-wrap
  display: block
  overflow hidden
  width: auto
  .code
    overflow hidden
    display inline-block
    margin-left 0px
    font-size 13px
    line-height 1.42857143
    color #333
    word-break break-all
    word-wrap break-word
    line-height 1.2
    padding 5px
    font-family Menlo, Monaco, Consolas, "Courier New", monospace
    width auto
    max-width 100%
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    code
      display block
      border 1px solid #ccc
      border-radius 4px
      overflow hidden
      overflow-x hidden
      padding-top 1.5em
      position relative
      overflow-x auto
      word-wrap normal
      word-break break-all
      white-space pre
      -webkit-box-sizing border-box
      -moz-box-sizing border-box
      box-sizing border-box
      &::before
        content attr(data-head)
        padding 0 8px
        line-height 1.3
        margin-right auto
        max-width 100%
        width auto
        display block
        position absolute
        top 0
        left 0
        background-color #ccc
        color #666
        border-bottom-right-radius 4px
/**
 * インライン
 */
code.dir
  border-radius 2px
  background-color $mainbgcolor
  padding 2px 4px
  display inline-block
  line-height 1
  margin-right 3px
  span.block
    color $noticecolor
    &:not(:first-child)::before
      content ">"
      padding 0 4px
      color $maincolor_light
