extends module/_layout

block vars
  //- ページid
  - var pageid = 'css_stylus'

block contents
  //- ページ本体
  section.section
    h2.subtitle
      | cssのマークアップ
    div.body
      p.detail
        | このテンプレートではcssをstylusで記述します。
        | stylusの記述は下記を参考にしてください。
      ul.urllist.detail
        each val in urllist
          li
            a( target="_blank", href = val.url ) !{val.title}
      p.detail
        | またstylusはnibで拡張しています。nibの使い方は下記を参考してください。
      ul.urllist.detail
        each val in urllist2
          li
            a( target="_blank", href = val.url ) !{val.title}
