//-  下記のフィルターを使用
//-    jstransformers/jstransformer-stylus
//-    jstransformers/jstransformer-highlight

extends module/_layout

block vars
  - var pageid = 'index'

mixin controlBase
  ol.multislider-controler
    li.multislider-controler-item.multislider-controler-item_prev
      button.multislider-controler-item-btn
        span.fa-stack
          i.fa.fa-stack-2x.fa-circle
          i.fa.fa-stack-1x.fa-chevron-left.fa-inverse
    li.multislider-controler-item.multislider-controler-item_next
      button.multislider-controler-item-btn
        span.fa-stack
          i.fa.fa-stack-2x.fa-circle
          i.fa.fa-stack-1x.fa-chevron-right.fa-inverse

block contents
  h2.subtitle 基本
  section.section.flex
    div.sample-wrap
      div.multislider#jsSlider_base
        ul.multislider-content
          - for (var i = 1; i <= 4; i++)
            li.multislider-content-item
              img(alt = "sample", src = dammy_image2(400,200,i))
    div.code-wrap
      pre
        code.html.hljs(data-head = "HTML")
          :highlight(lang = 'html')
            <div class="multislider" id="jsSlider_base">
              <ul class="multislider-content">
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/1"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/2"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/3"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/4"></li>
              </ul>
            </div>
      pre
        code.javascript.hljs(data-head = "javascript(jQuery)")
          :highlight(lang = 'javascript')
            $('#jsSlider_base').jQueryMultiSlider({
              'width': 400,
              'height': 200
            });
    div.notice-wrap
      div.notice
        p スライダーにする要素に対して、「jQueryMultiSlider」メソッドを呼び出すことで起動します。オプションの「width（スライド一つの幅）」と「height（スライドの高さ）」は必須で指定しなければなりません。
        p 中に設置されたスライドが一枚だった場合、コントローラとインジケータは消去され、自動アニメーションも起こりません。
  h2.subtitle コントローラとインジケータ
  section.section.flex
    h3.section-head コントローラの設置
    div.sample-wrap
      div.multislider#jsSlider_controler
        ul.multislider-content
          - for (var i = 1; i <= 4; i++)
            li.multislider-content-item
              img(alt = "sample", src = dammy_image2(400,200,i))
        +controlBase
    div.code-wrap
      pre
        code.html.hljs(data-head = "HTML")
          :highlight(lang = 'html')
            <div class="multislider" id="jsSlider_controler">
              <ul class="multislider-content">
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/1"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/2"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/3"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/4"></li>
              </ul>
              <ol class="multislider-controler">
                <li class="multislider-controler-item multislider-controler-item_prev">
                  <button class="multislider-controler-item-btn">
                    <span class="fa-stack">
                      <i class="fa fa-stack-2x fa-circle"></i>
                      <i class="fa fa-stack-1x fa-chevron-left fa-inverse"></i>
                    </span>
                  </button>
                </li>
                <li class="multislider-controler-item multislider-controler-item_next">
                  <button class="multislider-controler-item-btn">
                    <span class="fa-stack">
                      <i class="fa fa-stack-2x fa-circle"></i>
                      <i class="fa fa-stack-1x fa-chevron-right fa-inverse"></i>
                    </span>
                  </button>
                </li>
              </ol>
            </div>
      pre
        code.javascript.hljs(data-head = "javascript(jQuery)")
          :highlight(lang = 'javascript')
            $('#jsSlider_controler').jQueryMultiSlider({
              'width': 400,
              'height': 200,
              'hoverReaction': false
            });
    div.notice-wrap
      div.notice
        p コントローラは実際に設置することで動作します。スライドが一枚だけと判断されたとき、コントローラは消去されます。
        p 初期設定ではコントローラはホバーしないと表示されないようになっています。これを解除するにはオプション「hoverReaction」を「false」に設定してください。
  section.section.flex
    h3.section-head インジケータの設置
    div.sample-wrap
      div.multislider#jsSlider_indicator
        ul.multislider-content
          - for (var i = 1; i <= 4; i++)
            li.multislider-content-item: img(alt = "sample", src = dammy_image2(400,200,i))
    div.code-wrap
      pre
        code.html.hljs(data-head = "HTML")
          :highlight(lang = 'html')
            <div class="multislider" id="jsSlider_indicator">
              <ul class="multislider-content">
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/1"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/2"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/3"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/4"></li>
              </ul>
            </div>
      pre
        code.javascript.hljs(data-head = "javascript(jQuery)")
          :highlight(lang = 'javascript')
            $('#jsSlider_indicator').jQueryMultiSlider({
              'width': 400,
              'height': 200,
              'indicator': true,
              'hoverReaction': false
            });
    div.notice-wrap
      div.notice
        p インジケータはオプションで設定することで自動で設置されます。インジケータも「'hoverReaction': false」を設定しないとホバー時以外は非表示になります。
  section.section.flex
    h3.section-head スライダー外部へのコントローラとインジケータの設置
    div.sample-wrap
      div.multislider#jsSlider_outside
        ul.multislider-content
          - for (var i = 1; i <= 4; i++)
            li.multislider-content-item: img(alt = "sample", src = dammy_image2(400,200,i))
      div.multicontroler_outside
        ul.multislider-controler
          li.multislider-controler-item(data-multislider-target="#jsSlider_outside", data-multislider-action="prev")
            button.multislider-controler-item-btn
              span.fa-stack
                i.fa.fa-stack-2x.fa-circle
                i.fa.fa-stack-1x.fa-chevron-left.fa-inverse
          li.multislider-controler-item(data-multislider-target="#jsSlider_outside", data-multislider-action="next")
            button.multislider-controler-item-btn
              span.fa-stack
                i.fa.fa-stack-2x.fa-circle
                i.fa.fa-stack-1x.fa-chevron-right.fa-inverse
        ol.multislider-indicator(data-multislider-target="#jsSlider_outside", data-multislider-action="indicator")
    div.code-wrap
      pre
        code.html.hljs(data-head = "HTML")
          :highlight(lang = 'html')
            <div class="multislider" id="jsSlider_outside">
              <ul class="multislider-content">
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/1"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/2"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/3"></li>
                <li class="multislider-content-item"><img alt="sample" src="http://satyr.io/400x200/4"></li>
              </ul>
            </div>
            <div class="multicontroler_outside">
              <ul class="multislider-controler">
                <li class="multislider-controler-item" data-multislider-target="#jsSlider_outside" data-multislider-action="prev">
                  <button class="multislider-controler-item-btn">
                    <span class="fa-stack">
                      <i class="fa fa-stack-2x fa-circle"></i>
                      <i class="fa fa-stack-1x fa-chevron-left fa-inverse"></i>
                    </span>
                  </button>
                </li>
                <li class="multislider-controler-item" data-multislider-target="#jsSlider_outside" data-multislider-action="next">
                  <button class="multislider-controler-item-btn">
                    <span class="fa-stack">
                      <i class="fa fa-stack-2x fa-circle"></i>
                      <i class="fa fa-stack-1x fa-chevron-right fa-inverse"></i>
                    </span>
                  </button>
                </li>
              </ul>
              <ol class="multislider-indicator" data-multislider-target="#jsSlider_outside" data-multislider-action="indicator"></ol>
            </div>
      pre
        code.javascript.hljs(data-head = "javascript(jQuery)")
          :highlight(lang = 'javascript')
            $('#jsSlider_outside').jQueryMultiSlider({
              'width': 400,
              'height': 200,
              'indicator': true
            });
    div.notice-wrap
      div.notice
        p スライダー外部にコントローラ、インジケータを設置する場合、対象の要素にdata属性で「data-multislider-target="スライダーのID"」及び、「data-multislider-action」を与えてください。
        p 「data-multislider-action」属性の値は「prev」でコントローラの「戻るボタン」、「next」でコントローラの「次へボタン」、「indicator」でインジケータのラッパーとなります。
  h2.subtitle 様々なレイアウト
  section.section.flex
    h3.section-head 左右にはみ出すイージングとスライダー領域
    div.sample-wrap
      div.multislider#jsSlider_protrude
        ul.multislider-content
          - for (var i = 1; i <= 4; i++)
            li.multislider-content-item: img(alt = "sample", src = dammy_image2(400,200,i))
        +controlBase
    div.code-wrap
      pre
        code.javascript.hljs(data-head = "javascript")
          :highlight(lang = 'javascript')
            $('#jsSlider_protrude').jQueryMultiSlider({
              'width': 500,
              'itemWidth': 400,
              'height': 200,
              'indicator': true,
              'easing': 'easeOutBack'
            });
    div.notice-wrap
      div.notice
        p スライダー全体の幅を「width」に、スライド一枚の幅を「itemWidth」に指定してください。
        p ※スライド一枚分にたいしてスライダー領域があまりにも大きい場合（スライドの二倍以上）は正しく表示されない可能性があります。
        p ※「easeOutBack」などの標準外のイージング関数を使うには別途イージング関数のプラグインが必要になります。
  section.section.flex
    h3.section-head スライド間に隙間があるスライダー
    div.sample-wrap
      div.slider_gap
        div.multislider#jsSlider_gap
          ul.multislider-content
            - for (var i = 1; i <= 4; i++)
              li.multislider-content-item: a(href = "#"): img(alt = "sample", src = dammy_image2(400,200,i))
          +controlBase
    div.code-wrap
      pre
        code.html.hljs(data-head = "HTML")
          :highlight(lang = 'html')
            <div class="slider_gap">
              <div class="multislider" id="jsSlider_gap">
                <ul class="multislider-content">
                  <li class="multislider-content-item"><a href="#"><img alt="sample" src="http://satyr.io/400x200/1"></a></li>
                  <li class="multislider-content-item"><a href="#"><img alt="sample" src="http://satyr.io/400x200/2"></a></li>
                  <li class="multislider-content-item"><a href="#"><img alt="sample" src="http://satyr.io/400x200/3"></a></li>
                  <li class="multislider-content-item"><a href="#"><img alt="sample" src="http://satyr.io/400x200/4"></a></li>
                </ul>
                <ol class="multislider-controler">
                  <li class="multislider-controler-item multislider-controler-item_prev">
                    <button class="multislider-controler-item-btn">
                      <span class="fa-stack">
                        <i class="fa fa-stack-2x fa-circle"></i>
                        <i class="fa fa-stack-1x fa-chevron-left fa-inverse"></i>
                      </span>
                    </button>
                  </li>
                  <li class="multislider-controler-item multislider-controler-item_next">
                    <button class="multislider-controler-item-btn">
                      <span class="fa-stack">
                        <i class="fa fa-stack-2x fa-circle"></i>
                        <i class="fa fa-stack-1x fa-chevron-right fa-inverse"></i>
                      </span>
                    </button>
                  </li>
                </ol>
              </div>
            </div>
      pre
        code.css.hljs(data-head = "css")
          :highlight(lang = 'css'):stylus
            .slider_gap
              overflow hidden
              border-radius 10px
              .multislider
                margin 0 -5px
              .multislider-content-item > a
                display block
                margin 0 5px
                overflow hidden
                border-radius 10px
                img
                  display block
              .multislider-controler
                &-item_prev
                  margin-left 5px
                &-item_next
                  margin-right 5px
      pre
        code.javascript.hljs(data-head = "javascript")
          :highlight(lang = 'javascript')
            $('#jsSlider_gap').jQueryMultiSlider({
              'width': 410,
              'height': 200,
              'indicator': true
            });
    div.notice-wrap
      div.notice
        p スライダー全体を「overflow:hidden;」を効かせた要素で囲み、更にスライダーに隙間分のネガティブマージンを効かせることによって、隙間分を考慮したスライダーになります。
  section.section.flex
    h3.section-head スライド内に複数のカセットがあるスライダー
    div.sample-wrap
      mixin multiSlide
        ul.multislider-content
          - for (var i = 1; i <= 3; i++)
            li.multislider-content-item
              ul
                - if (i !== 3)
                  - for (var j = 0; j <= 2; j++)
                    li.multislider-content-item-inner: img(alt = "sample", src = dammy_image2(100,100,i) + "?texture=cross")
                - else
                  - for (var j = 0; j <= 1; j++)
                    li.multislider-content-item-inner: img(alt = "sample", src = dammy_image2(100,100,i) + "?texture=cross")

      div.multislider.slider-multi#jsSlider_multi1
        +multiSlide
        +controlBase
    div.sample-wrap
      div.multislider.slider-multi#jsSlider_multi2
        +multiSlide
        +controlBase
    div.sample-wrap
      div.multislider.slider-multi#jsSlider_multi3
        +multiSlide
        +controlBase
    div.sample-wrap
      div.multislider.slider-multi#jsSlider_multi4
        +multiSlide
        +controlBase
    div.code-wrap
      pre
        code.html.hljs(data-head = "HTML")
          :highlight(lang = 'html')
            <div class="multislider slider-multi" id="jsSlider_multi">
              <ul class="multislider-content">
                <li class="multislider-content-item">
                  <ul>
                    <li class="multislider-content-item-inner"><img alt="sample" src="http://satyr.io/100x100/1?texture=cross"></li>
                    <li class="multislider-content-item-inner"><img alt="sample" src="http://satyr.io/100x100/1?texture=cross"></li>
                    <li class="multislider-content-item-inner"><img alt="sample" src="http://satyr.io/100x100/1?texture=cross"></li>
                    <li class="multislider-content-item-inner"><img alt="sample" src="http://satyr.io/100x100/1?texture=cross"></li>
                  </ul>
                </li>
                <li class="multislider-content-item">
                  <ul>
                    <li class="multislider-content-item-inner"><img alt="sample" src="http://satyr.io/100x100/2?texture=cross"></li>
                    <li class="multislider-content-item-inner"><img alt="sample" src="http://satyr.io/100x100/2?texture=cross"></li>
                    <li class="multislider-content-item-inner"><img alt="sample" src="http://satyr.io/100x100/2?texture=cross"></li>
                    <li class="multislider-content-item-inner"><img alt="sample" src="http://satyr.io/100x100/2?texture=cross"></li>
                  </ul>
                </li>
                <li class="multislider-content-item">
                  <ul>
                    <li class="multislider-content-item-inner"><img alt="sample" src="http://satyr.io/100x100/3?texture=cross"></li>
                    <li class="multislider-content-item-inner"><img alt="sample" src="http://satyr.io/100x100/3?texture=cross"></li>
                    <li class="multislider-content-item-inner"><img alt="sample" src="http://satyr.io/100x100/3?texture=cross"></li>
                  </ul>
                </li>
              </ul>
              <ol class="multislider-controler">
                - 省略 -
              </ol>
            </div>
            <div class="multislider slider-multi" id="jsSlider_multi2">
                - 省略 -
            </div>
      pre
        code.css.hljs(data-head = "css")
          :highlight(lang = 'css'):stylus
            .slider-multi
              .multislider-content
                .multislider-content-item
                  > ul
                    overflow hidden
                .multislider-content-item-inner
                  float left
      pre
        code.javascript.hljs(data-head = "javascript")
          :highlight(lang = 'javascript')
            $('#jsSlider_multi1').jQueryMultiSlider({
              'width': 300,
              'height': 100,
              'idleTime': 500,
              'indicator': true,
              'hoverReaction': false
            });
            $('#jsSlider_multi2').jQueryMultiSlider({
              'width': 300,
              'height': 100,
              'idleTime': 500,
              'slideRatio': (1/3),
              'indicator': true,
              'hoverReaction': false
            });
            $('#jsSlider_multi3').jQueryMultiSlider({
              'width': 300,
              'height': 100,
              'idleTime': 500,
              'indicator': true,
              'hoverReaction': false,
              'deadEnd': true
            });
            $('#jsSlider_multi4').jQueryMultiSlider({
              'width': 300,
              'height': 100,
              'idleTime': 500,
              'slideRatio': (1/3),
              'indicator': true,
              'hoverReaction': false,
              'deadEnd': true
            });
    div.notice-wrap
      div.notice
        p 一枚のスライド内に複数カセットがあるパターンでは、オプション「slideRatio」を指定することで、一回のスライド幅をカセット単位にすることができます。
        p ※「slideRatio」が割り切れない数である場合（例えばカセット数が3枚の場合）、分数で指定してください（例 「'slideRatio': (1/3),」）。
    div.notice-wrap
      div.notice
        p また、末端のスライドが他のスライドの幅に満たない場合、スライド幅は自動で調整されます。
        p ※末端以外のスライド幅に差異がある場合、正常に動作しません。
  h2.subtitle レスポンシブ
  section.section
    div
      div.multislider.slider_responsive#jsSlider_responsive
        ul.multislider-content
          - for (var i = 1; i <= 4; i++)
            li.multislider-content-item
              img(alt = "sample", src = dammy_image(800,200,i+20))
        +controlBase
  section.section.flex
    div.code-wrap
      pre
        code.html.hljs(data-head = "HTML")
          :highlight(lang = 'html')
            <div class="multislider slider_responsive" id="jsSlider_responsive">
              <ul class="multislider-content">
                <li class="multislider-content-item"><img alt="sample" src="https://picsum.photos/800/200/?image=1062"></li>
                <li class="multislider-content-item"><img alt="sample" src="https://picsum.photos/800/200/?image=1061"></li>
                <li class="multislider-content-item"><img alt="sample" src="https://picsum.photos/800/200/?image=1060"></li>
                <li class="multislider-content-item"><img alt="sample" src="https://picsum.photos/800/200/?image=1059"></li>
              </ul>
              <ol class="multislider-controler">
                - 省略 -
              </ol>
            </div>
      pre
        code.javascript.hljs(data-head = "css")
          :highlight(lang = 'css'):stylus
            .slider_responsive
              .multislider-content-item
                & > img
                  width 100%
                  height auto
      pre
        code.javascript.hljs(data-head = "javascript(jQuery)")
          :highlight(lang = 'javascript')
            $('#jsSlider_responsive').jQueryMultiSlider({
              'width': 800,
              'height': 200,
              'indicator': true,
              'hoverReaction': false,
              'responsive': true
            });
    div.notice-wrap
      div.notice
        p スライダーをレスポンシブモードにするにはオプション「responsive」をtrueに指定してください。スライドアニメーションを％指定で行い、widthとheightからアスペクト比を計算し収縮するように自動で値が置き換わります。
        p 画像の伸縮などについてはCSSでパーセンテージ指定を行うことで対応してください。スライド内カセットについても同様にパーセント指定で設置してください。
        p ※画像などが1スライド内に複数タイリングされているような複雑なスライドの場合、小数点の切捨てが行われ間に隙間ができる可能性があります。
  h2.subtitle スライドシンク
  section.section.flex
    div.sample-wrap
      div.multislider#jsSlider_syncTo
        ul.multislider-content
          - for (var i = 0; i <= 19; i++)
            li.multislider-content-item
              img(alt = "sample", src = dammy_image(400,200,(i+10)))
        +controlBase
      div.multislider.slider-multi.sliderSyncFrom#jsSlider_syncFrom
        ul.multislider-content
          - for (var i = 0; i <= 3; i++)
            li.multislider-content-item
              ul
                - for (var j = 0; j <= 4; j++)
                  li.multislider-content-item-inner(data-target = i*5+j)
                    img(alt = "sample", src = dammy_image(80,80,(10+i*5+j)))
        +controlBase
    div.code-wrap
      pre
        code.html.hljs(data-head = "HTML")
          :highlight(lang = 'html')
            <div class="multislider" id="jsSlider_syncTo">
              <ul class="multislider-content">
                <li class="multislider-content-item"><img alt="sample" src="https://picsum.photos/400/200/?image=1073"></li>
                <li class="multislider-content-item"><img alt="sample" src="https://picsum.photos/400/200/?image=1072"></li>
                - 省略 -
                <li class="multislider-content-item"><img alt="sample" src="https://picsum.photos/400/200/?image=1055"></li>
                <li class="multislider-content-item"><img alt="sample" src="https://picsum.photos/400/200/?image=1054"></li>
              </ul>
              <ol class="multislider-controler">
                - 省略 -
              </ol>
            </div>
            <div class="multislider slider-multi sliderSyncFrom" id="jsSlider_syncFrom">
              <ul class="multislider-content">
                <li class="multislider-content-item">
                  <ul>
                    <li class="multislider-content-item-inner" data-target="0"><img alt="sample" src="https://picsum.photos/80/80/?image=1073"></li>
                    <li class="multislider-content-item-inner" data-target="1"><img alt="sample" src="https://picsum.photos/80/80/?image=1072"></li>
                    <li class="multislider-content-item-inner" data-target="2"><img alt="sample" src="https://picsum.photos/80/80/?image=1071"></li>
                    <li class="multislider-content-item-inner" data-target="3"><img alt="sample" src="https://picsum.photos/80/80/?image=1070"></li>
                    <li class="multislider-content-item-inner" data-target="4"><img alt="sample" src="https://picsum.photos/80/80/?image=1069"></li>
                  </ul>
                </li>
                - 省略-
                <li class="multislider-content-item">
                  <ul>
                    <li class="multislider-content-item-inner" data-target="15"><img alt="sample" src="https://picsum.photos/80/80/?image=1058"></li>
                    <li class="multislider-content-item-inner" data-target="16"><img alt="sample" src="https://picsum.photos/80/80/?image=1057"></li>
                    <li class="multislider-content-item-inner" data-target="17"><img alt="sample" src="https://picsum.photos/80/80/?image=1056"></li>
                    <li class="multislider-content-item-inner" data-target="18"><img alt="sample" src="https://picsum.photos/80/80/?image=1055"></li>
                    <li class="multislider-content-item-inner" data-target="19"><img alt="sample" src="https://picsum.photos/80/80/?image=1054"></li>
                  </ul>
                </li>
              </ul>
              <ol class="multislider-controler">
                - 省略 -
              </ol>
            </div>
      pre
        code.css.hljs(data-head = "css")
          :highlight(lang = 'css'):stylus
            .sliderSyncFrom
              .multislider-content-item-inner
                position relative
                img
                  display block
                  position relative
                  z-index 1
                &.current::before
                  content ""
                  absolute left top
                  width 100%
                  height 100%
                  box-sizing border-box
                  border 3px solid #fff
                  z-index 2
      pre
        code.javascript.hljs(data-head = "javascript(jQuery)")
          :highlight(lang = 'javascript')
            $syncTo = $('#jsSlider_syncTo');
            $syncTo.jQueryMultiSlider({
              'width': 400,
              'height': 200
            });
            $('#jsSlider_syncFrom').jQueryMultiSlider({
              'width': 400,
              'height': 80,
              'syncTo': $syncTo
            });
    div.notice-wrap
      div.notice
        p オプション「syncTo」によって二つのスライダーを同調させることができます。オプション「syncTo」を設定したスライダーはサムネイルとして働き自身の自動アニメーションは発火しなくなります。
        p シンク先のスライドに応じて、「data-target」属性を設定した要素に「current」クラスがつくようになります。また「data-target」属性のついた要素を押すと、シンク先のスライダーがその番号のスライドに移動します。
    div.sample-wrap
      div.multislider#jsSlider_syncTo2
        ul.multislider-content
          - for (var i = 0; i <= 19; i++)
            li.multislider-content-item
              img(alt = "sample", src = dammy_image(400,200,(i+10)))
        +controlBase
      div.multislider.slider-multi.sliderSyncFrom#jsSlider_syncFrom2
        ul.multislider-content
          - for (var i = 0; i <= 3; i++)
            li.multislider-content-item
              ul
                - for (var j = 0; j <= 4; j++)
                  li.multislider-content-item-inner(data-target = i*5+j)
                    img(alt = "sample", src = dammy_image(80,80,(10+i*5+j)))
        +controlBase
    div.code-wrap
      pre
        code.javascript.hljs(data-head = "javascript(jQuery)")
          :highlight(lang = 'javascript')
            $syncTo = $('#jsSlider_syncTo');
            $syncTo.jQueryMultiSlider({
              'width': 400,
              'height': 200
            });
            $('#jsSlider_syncFrom').jQueryMultiSlider({
              'width': 400,
              'height': 80,
              'slideRatio': 0.2,
              'syncTo': $syncTo
            });
    div.notice-wrap
      div.notice
        p シンク元のスライダー（サムネイル）にslideRatioを設定することで、シンク元の一回のスライド幅を制御することができます。
  h2.subtitle 機能
  section.section.flex
    h3.section-head オプション
    div.notice-wrap
      table.notice-table
        tr
          th オプション名
          th 初期値
          th 単位
          th 説明
        -
          var options = [
            [ 'width', '0', 'ピクセル数値', '必須。スライダー全体の幅。itemWidthを設定しない場合、itemWidthはwidthと同値になります。' ],
            [ 'height', '0', 'ピクセル数値', '必須。スライダー全体の高さ。' ],
            [ 'itemWidth', '0', 'ピクセル数値', 'スライド一枚の幅' ],
            [ 'slideRatio', '1', '0.01&lt;n&lt;=1の比率', '一回でスライドする割合（1=スライド一枚分、0.5=スライドの2分の1）' ],
            [ 'start', '0', '数値', '最初に表示するスライド。-1を指定すると右端（最後のスライド）を指定したことになる。' ],
            [ 'autoAnimation', 'true', 'true/falseの真偽値', '自動アニメーション' ],
            [ 'duration', '600', 'ミリ秒数値', 'アニメーションにかける時間' ],
            [ 'easing', '\'swing\'', 'イージング関数名', 'アニメーションに使うeasingの関数名<br>標準のイージング関数以外を使う場合、別途イージング関数のライブラリが必要。' ],
            [ 'idleTime', '4000', 'ミリ秒数値', 'アニメーション待機時間' ],
            [ 'deadEnd', 'false', 'true/falseの真偽値', 'スライダーを行き止まりにする。<br>この値がtrueだった場合（deadEndモード）、左右末端のスライドになった時、相当するコントローラのボタン（左端のときなら「戻るボタン」）はdisabled化される。<br>またdeadEndモードでは自動アニメーションは左右末端で方向が逆転する。' ],
            [ 'direction', '1', '左から右へ=1<br>右から左へ=-1', 'スライドする方向' ],
            [ 'indicator', 'false', 'true/falseの真偽値', 'インジケータの有無' ],
            [ 'hoverReaction', 'true', 'true/falseの真偽値', 'コントローラ、インジケータをホバー時以外隠す' ],
            [ 'hoverStop', 'true', 'true/falseの真偽値', 'ホバー時に自動アニメーションを切るかどうか' ],
            [ 'syncTo', '', 'jQueryオブジェクト', 'サムネイルスライダーからシンク先のスライダーを指定する' ],
            [ 'responsive', 'false', 'true/falseの真偽値', 'レスポンシブモード' ]
          ]
        each i in options
          tr
            each j in i
              td= j
  section.section.flex
    h3.section-head イベントハンドラ
    div.notice-wrap
      table.notice-table
        caption jQUer独自イベントハンドラ
        tr
          th ハンドラ名
          th 説明
        tr
          td slide:setFinish
          td
            |スライダーの初期設定が終了したとき。スライドが一枚の場合でも発火します。
        tr
          td slide:changeStart
          td
            |スライドが（自動アニメーションかコントローラの押下に関わらず）動き出したタイミングで発火
        tr
          td slide:changeFinish
          td
            |スライドが（自動アニメーションかコントローラの押下に関わらず）動き終わったタイミングで発火
    div.notice-wrap
      table.notice-table
        caption event.slide下のプロパティ一覧
        thead
          tr
            th(colspan = "2")
              |上記のイベントハンドラは以下の独自オブジェクト「event.slide」の各種のプロパティを参照できます。
        tbody
          tr
            th プロパティ名
            th 説明
          tr
            td event.slide.index
            td
              |イベント発生中のスライダーの現在のindex（整数）
          tr
            td event.slide.amount
            td
              |イベント発生中のスライダーのスライド量（slideRatioに応じて動いた量）
          tr
            td event.slide.length
            td
              |イベント発生中のスライダーの枚数
          tr
            td event.slide.move
            td
              |スライドの方向（1＝右へ、-1＝左へ）
          tr
            td event.slide.type
            td
              |スライドのタイプ
              br
              |'defaultSet': 設置時のイベント
              br
              |'animate': 自動アニメーションによるスライド
              br
              |'control': コントローラによるスライド
              br
              |'indicator': インジケータによるスライド
          tr
            td event.slide.target
            td
              |現在動いているスライド要素
    div.code-wrap
      pre
        code.javascript.hljs(data-head = "javascript")
          :highlight(lang = 'javascript')
            $('#slider').on('slide:changeFinish', function(e){
              that.$disp.text(
                '上記のスライドは計' + e.slide.length + '枚で' + ( e.slide.index + 1 ) + '枚目を表示中です。'
              );
            });
  section.section.flex
    h3.section-head イベントメソッド
    div.notice-wrap
      table.notice-table
        caption イベントメソッド
        tr
          th メソッド
          th 説明
        tr
          td slideStop()
          td
            |自動アニメーションでスライドが動いている場合、アニメーションを止める。
            br
            |スライドの途中では止まらず、スライドが終わった時点でそれ以上動くのを禁止する。
        tr
          td slideStart()
          td
            |slideStop()で止められた自動アニメーションを再度開始する。
        tr
          td slideTo(n)
          td
            |nまでスライドを動かす
  h2.subtitle その他サンプル
  section.section.flex
    h3.section-head キャプションのついた折り返し型スライダー
    div.sample-wrap
      div.slider_sample01
        div.multislider#jsSlider_sample01
          h2.slider-caption
          ul.multislider-content
            -
              var
                title = [ 'Lorem ipsum', 'Veritatis', 'Dolores', 'Aperiam' ]
                desc = [
                  'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, vero nesciunt qui enim blanditiis vel dolorem accusantium, autem quos sint temporibus, tenetur ipsa necessitatibus ab. Repellendus quisquam, earum neque error.',
                  'Veritatis optio quasi delectus assumenda eaque iure eum, voluptas eligendi, possimus sunt dignissimos tempore nemo pariatur consequatur eveniet ut voluptate? Ab deleniti officiis voluptatibus deserunt recusandae, ipsam consequatur doloremque quisquam.',
                  'Dolores expedita voluptas magnam quia reprehenderit quis soluta perspiciatis aperiam sapiente dolorem assumenda velit, necessitatibus consequatur repellendus accusantium quod architecto laudantium veniam odio, nemo suscipit et. Laboriosam porro omnis illo.',
                  'Aperiam delectus perferendis id, iste, temporibus minima rem aspernatur! Quidem dolorum voluptatem maxime unde nemo quia ducimus inventore dolor laboriosam, fugit tenetur, blanditiis rerum autem doloribus eveniet? At, est, aut.'
                ]
            - for(var i = 0; i <= 3; i++)
              li.multislider-content-item(id = 'sliderSample01_slide0' + (i+1), data-title = title[i])
                a(href="http://google.com/")
                  span.foot= desc[i]
    div.code-wrap
      pre
        code.javascript.hljs(data-head = "javascript")
          :highlight(lang = 'javascript')
            var $slider01 = $('#jsSlider_sample01');
            $slider01.jQueryMultiSlider({
              'width': 610,
              'height': 200,
              'indicator': true,
              'deadEnd': true,
              'start': -1,
              'direction': -1,
              'hoverReaction': false
            }).on('slide:setFinish slide:changeFinish', function(e) {
             $slider01.find('.multislider-indicator').attr('data-num', ( e.slide.index + 1 ) + '/' + e.slide.length);
             $slider01.find('.slider-caption').text( $(e.slide.target).attr('data-title') );
            });
    div.notice-wrap
      div.notice
        p 折り返しモードで右端から逆方向（右から左へ）に自動アニメーションを開始。標準のインジケータのCSSを上書きして表示位置とスタイルを変更。スライダーのアニメーション終了をトリガーに、インジケータに現在のスライド枚数をdata-num属性で渡す。これをCSSのafter疑似要素で表示。スライドごとのタイトルはスライド毎に設定したdata-title属性から取得しスライダー内に追加した要素に挿入。
  section.section.flex
    h3.section-head 3x2の複数カセットを持つスライダー
    div.sample-wrap
      div.multislider.slider_sample02#jsSlider_sample02
        ul.multislider-content
          - var cate = [ "Lorem", "Minima", "Reiciendis", "Dolores", "Esse", "Sed", "Totam", "Incidunt", "Temporibus", "Quasi", "Animi", "Quas", "Repellendus", "Maiores", "Accusantium", "Excepturi", "Impedit" ]
          - for (var i = 0; i <= 2; i++)
            li.multislider-content-item
              ul
                - for (var j = 0; j <= 5; j++)
                  - if( i * 6 + j !== 16 )
                    li.multislider-content-item-inner
                      a(href = "#")
                        img(alt = "sample", src = dammy_image(180,100,i*6+j) )
                        span #{cate[i+j]}
        +controlBase
    div.code-wrap
      pre
        code.css.hljs(data-head = "css")
          :highlight(lang = 'css'):stylus
            .slider_sample02
              background-color #666
              .multislider-content
                &-item
                  ul
                    width 572px
                    box-sizing border-box
                    padding 4px
                    overflow hidden
                    li
                      float left
                      box-sizing border-box
                      padding 4px
                      a
                        display block
                        background-color #fff
                        text-decoration none
                        color #555
                        img
                          display block
                        span
                          display table-cell
                          padding 0 4px
                          box-sizing border-box
                          height 24px
                          font-size 12px
                          vertical-align middle
                          font-weight bold
      pre
        code.javascript.hljs(data-head = "javascript")
          :highlight(lang = 'javascript')
            $('#jsSlider_sample02').jQueryMultiSlider({
              'width': 638,
              'itemWidth': 572,
              'height': 292,
              'indicator': true,
              'deadEnd': true,
              'hoverReaction': false,
              'autoAnimation': false
            });
    div.notice-wrap
      div.notice
        p スライドの高さよりスライダーの高さを長くとることでインジケータをスライド表示域より下に配置。コントローラにつくdisabledのCSSを上書きしてボタンのアイコンのみを非表示に。
