extends module/_layout

block vars
  //- ページid
  - var pageid = 'index'

block contents
  //- ページ本体
  section.section
    h2.subtitle
      | このテンプレートは
    div.body
      p.detail
        | 小～中規模のサイト構築を目的とした、pugとstylusを利用したテンプレートです。
        br
        | jsについてはES6形式の記述をコンパイルし、ES5形式に直すことができます。
        br
        | またスプライト画像の書き出し、ファイルの全圧縮機能も備えています。
  section.section
    h2.subtitle
      | モジュール一覧
    div.body
      table.detail.modulelist
        each val, key in packages
          tr
            th.listtitle(colspan = "2") !{key}
          each i in val
            tr
              th !{i[0]}
              td !{i[1]}
