extends module/_layout

block vars
  //- ページid
  - var pageid = 'index'

block contents
  //- ページ本体
  section.section
    h2.subtitle
      | モジュール一覧
    div.body
      table.detail.modulelist
        each val, key in packages
          tr
            th.listtitle(colspan = "2") !{key}
          each i in val
            tr
              th !{i[0]}
              td !{i[1]}
